
body{
    height: 210vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8.5;
    font-weight: bold;
}

#content-page {
    width:100%;
}

#profile {
    text-align:center;
    text-justify: center;
}
 
.education-info {
    font-weight: bold;
}

.location {
    float:right;
    padding-inline-end: auto;
}
.school-duration {
    float:right;
}#college-gpa {
    font-weight:normal;
}

#education-heading, .other-headings, .scholarship, #deans-list{
    font-weight: bold;
}
.award-duration {
    float: right;
    font-weight: bold;
}
.award-institution {
    font-weight: normal;
}

.organization-location, .roles, #languages, #reference-note{
    font-weight: normal;
}
.work-duration, #project-duration,.curricular-duration {
    float:right;
}
.position {
    font-weight: bold;
}


















/*.entire-page {
    display: flex;
    text-emphasis: center;
    margin-top:40 px;
    padding-left:5px;
    height: auto;
    width: 98%;
    background-color: aliceblue;
}
 .school {
     float:left;
 }
.duration {
    float:right;*/
/*
.heading {
    font-family: verdana;
    font-size:8.5;
    text-align: left;
}


p.profile-field {
    text-align: center;
}

*/